{{ define "body" }}

<div class="progress-container">
  <span class="progress-bar"></span>
</div>

{{ $hasPostCover := isset .Site.Params "postcover" }}
{{ $hasCover := isset .Params "cover" }}
<header id="post-header"{{ if $hasPostCover }} class="has-cover"{{ end }}>
  <div class="inner">
    {{ partial "subnav" . }}
    <h1 class="post-title">{{ .Title }}</h1>
    <span class="post-meta">
      {{ if isset .Params "author" }}
        {{ .Params.author }} |
      {{ end }}
      <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "02 Jan 2006" .Date }}</time>
    </span>

    {{ if $hasCover }}
      <div class="post-cover cover" style="background-image: url('{{ .Params.cover | absURL }}');"></div>
    {{ else if $hasPostCover }}
      <div class="post-cover cover" style="background-image: url('{{ .Site.Params.postcover | absURL }}');"></div>
    {{ end }}
  </div>
</header>

<main class="content" role="main">
  <div class="inner">
    <h2>{{ .Title }}</h2>
    <section class="post-content">{{ .Content }}</section>
  </div>
</main>

{{ end }}
