{{ $title := .Title }}
{{ $url := printf "%s" .RelPermalink | absLangURL }}

<div class="post-share">

  {{ $twitter_href := printf "https://twitter.com/share?url=%s&text=%s" $url $title }}
  <a class="twitter" href="{{ $twitter_href }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
    <i class="icon-twitter"></i><span class="hidden">Twitter</span>
  </a>

  {{ $facebook_href := printf "https://www.facebook.com/sharer.php?u=%s" $url}}
  <a class="facebook" href="{{ $facebook_href }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
    <i class="icon-facebook"></i><span class="hidden">Facebook</span>
  </a>

  {{ $linkedin_href := printf "https://www.linkedin.com/shareArticle?mini=true&url=%s&title=%s" $url $title }}
  <a class="linkedin" href="{{ $linkedin_href }}" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;">
    <i class="icon-linkedin"></i><span class="hidden">linkedin</span>
  </a>

  {{ $reddit_href := printf "http://www.reddit.com/submit?url=%s&title=%s" $url $title}}
  <a class="reddit" href="{{ $reddit_href }}" onclick="window.open(this.href, 'reddit-share', width=580,height=500);return false;">
    <i class="icon-reddit-alien"></i><span class="hidden">reddit</span>
  </a>

  <a class="wechat" id="wechat-share-btn">
    <i class="icon-wechat" id="wechat-share-icon"></i>
    <div id="wechat-share-modal" class="modal">
      <div class="modal-content">
	<div id="wechat-share"></div>
      </div>
    </div>
  </a>


  <script type="text/javascript">
    var modal = document.getElementById("wechat-share-modal");
    var btn   = document.getElementById("wechat-share-btn");
    var icon  = document.getElementById("wechat-share-icon");
    var span  = document.getElementById("wechat-share-close");

    //open it if we click on btn or icon, close it on second click
    window.onclick = function(event) {
      if (event.target == icon || event.target == btn)
	modal.style.display = "block";
      else if (modal.style.display == "block") {
	modal.style.display = "none";
      }
    };

    {{ $url := printf "%s" .RelPermalink | absLangURL }}
    new QRCode(document.getElementById("wechat-share"), {{ $url }});
  </script>

  <div class="clear"></div>
</div>
